<%= @proposition.title %>

<hr class="my-2">

<div>
  <%= simple_format @proposition.body %>
</div>

<hr class="my-2">

<div>
  <h2>Dependencies</h2>
  <% @proposition.dependencies.each do |d| %>
    <div>
      <%= d.title %>
    </div>
  <% end %>
</div>

<%= link_to 'back to proposition list', propositions_path %>